/** ICT 1004 Assignment 1 
-
- Name: Tan Xin Yi
- Matri. No: 15SIC044T
-
- Responsive Web Page using HTML and CSS, best view in Google Chrome or Firefox with zoom 90%
**/

body 
{
    font-family: Georgia, Cambria, "Times New Roman", serif;
    font-size: 100%;
    background-color: #FFF;
    margin: 0px;
} 

/* ----- Table ----- */
table {
    width: 100%;
    font-size: 16pt;
    border: 0;
    padding: 10px;
    font-family: Arial;
}

td {
    width: 30%;
    vertical-align: top;
    padding: 10px;
    text-align: justify;
}

tr:first-child td {
    text-align: center;
}

td>img {
    width: 60%;
    -webkit-border-radius: 1em; 
    -moz-border-radius: 1em; 
    -ms-border-radius: 1em; 
    -o-border-radius: 1em; 
    border-radius: 1em;
}

header {
    height: 2em;
    width: 100%;
    margin: 0px auto;
    background: #2F2D2E;
}

.header-cont {
    width: 100%;
    position: fixed;
    top: 0px;
    padding: 20px 0px 20px 0px;
}

ul {
    margin: 0;
}


/* ----- Navigation ----- */
nav {
    float: right;
    font-size: 18pt;
}

nav li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

nav li a{
    display: inline-block;
    text-align: center;
    padding: 5px;
    border: 1px solid #666;
}

nav li a:link, a:visited, a:active {
    color: #99C24D;
    padding: 0px 10px 0px 10px;
}

nav li a:hover {
    padding: 0px 10px 0px 10px;
}

/* ----- Header ----- */
h1 {
    font-family: Arial Black;
    font-size: 28pt;
}

/* ----- Links ----- */
a:link, a:visited, a:active {
    color: #99C24D;
}

a:hover {
    color: #AF1B3F;
}

/* ----- Image Expand ----- */
.grow { 
    transition: all .3s ease-in-out; 
    padding: 4px;
}

.grow:hover {
    transform: scale(2.4); 
    background: #FFF;
}


/* ----- Intro Section and Columns ----- */
#left-col {
    float: left;
    width: 65%;
    padding: 20px;
    vertical-align: middle;
    font-size: 16pt;
}

#right-col {
    float: right;
    width: 30em;
    padding: 20px;
}

.intro-section {
    height: 30em;
    padding-top: 50px;
    background: #2F2D2E;
    text-align: center;
    color: #FFF;
}

/* ----- Intro Section with Responsive display columns ----- */
@media only screen and (max-width: 1600px) {    
    #left-col {
        width: 57%;
    }
}

@media only screen and (max-width: 1400px) {    
    #left-col {
        width: 44%;
    }
}

@media only screen and (max-width: 1026px) {
    .intro-section img {
        display: none;
    }
    
    #left-col {
        width: 90%;
    }
}

.intro-section img {
    margin: 1em;
    width: 25em;
    height: 25em;
    -webkit-border-radius: 50%; 
    -moz-border-radius: 50%; 
    -ms-border-radius: 50%; 
    -o-border-radius: 50%; 
    border-radius: 50%;
}

/* ----- Why SIT Section ----- */
.whySIT-section {
    height: 50%;
    padding-top: 2em;
    text-align: center;
    background: #EEEBD0;
    font-size: 16pt;
}

.whySIT-section:before {
  background:
    linear-gradient(
      45deg, transparent 33.333%,
      #EEEBD0 33.333%, #EEEBD0 66.667%,
      transparent 66.667%
    ),
    linear-gradient(
      -45deg, transparent 33.333%,
      #EEEBD0 33.333%, #EEEBD0 66.667%,
      transparent 66.667%
    );
  background-size: 25px 50px;
}

/* ----- Trip Section ----- */
.trip-section {
    height: 100%;
    padding: 2em;
    text-align: center;
    background: #B5CA8D; 
    background: transparent url("../Image/IMG_20150315_145921.jpg");
    background-size: cover;
    font-size: 16pt;
}

.trip-section:before {
  background:
    linear-gradient(
      45deg, transparent 33.333%,
      #CEDEED 33.333%, #CEDEED 66.667%,
      transparent 66.667%
    ),
    linear-gradient(
      -45deg, transparent 33.333%,
      #CEDEED 33.333%, #CEDEED 66.667%,
      transparent 66.667%
    );
  background-size: 30px 50px;
}

.trip-section img {
    width: 10em;
}

#whitebox{
    background: rgba(255, 255, 255, 0.65);
    padding: 1em;
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    -ms-border-radius: 10px; 
    -o-border-radius: 10px; 
    border-radius: 10px;
}

/* ----- Footer ----- */
footer {
    background-color: #333;
    color: #fff;
    vertical-align: middle;
    padding: 10px;
    font-size: 16pt;
}

/* ----- Zig Zag Border ----- */
.zigzag {
  position: relative;
}

.zigzag:before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  width: 100%;
  height: 10px;
  left: 0;
}