body, html {
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    margin: 0;
    overflow-x: hidden; 
    background-color: #CD5360;
    color: rgba(0,0,0,.8);
    scroll-behavior: smooth;
  }

  body { 
    position: relative;
  }

  ::selection {
    background: #EE7879;
  }
  ::-moz-selection {
    background: #EE7879;
  }

  .fontHeader {
    font-weight: 600;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    display: inline-block;
  }
  
  .fontHeader:hover { 
    color: #EE7879;
    /* animation: rubberBand 5s infinite; */ 
    animation-name: rubberBand;
  } 

  .fontCaption {
    font-family: 'Courier New', Courier, monospace;
  }

  #navScrollSpy {   
  }
  
  .cardSection { 
    height: 70vh; 
    padding: 2em;  
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #CD5360; 
    color: #FFF;   
  }

  .cardFooter { 
    z-index: 1;
    bottom: 0;
    height: 30vh; 
    color: #FFF;
    background-color: #F98888;
  }

  .fontDark {
    color: #FFF !important;
    font-size: 4em;
  }

  .devicon-git-plain {
    max-width: 5em;
  }

  .cardContact {  
    text-align: center;
    color: #FFF; 
    height: 30vh; 
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .cardContact1 {
    background-color: #EE7879;
  } 

  .cardContact2 {
    background-color: #C39EA0;  
  }

  .cardContact3 { 
    background-color: #EE7879;
  } 

  a.cardContact {   
    color: #FFF !important;
  }

  a:hover.cardContact { 
    cursor: pointer; 
    background-color: #DF3062; 
  }

  #home {
    height: 70vh;
    margin-left: -14px;
    padding: 4em 2em 2em 2em;
    background-color: #CD5360;
  } 

  #homeFooter {
    height: 30vh;
    margin-left: -14px;
    padding: 4em 2em 2em 2em;
    background-color: #F8EEE7;
  } 

  #about {
    min-height: 100vh;
    margin-left: -14px;
    padding: 4em 2em 2em 2em;
    background-color: #FFF;
  }  

  #skills {
    min-height: 100vh;
    margin-left: -14px;
    padding: 4em 2em 2em 2em;
    background-color: #F8EEE7;
  } 

  #hobby {
    min-height: 100vh;
    margin-left: -14px;
    padding: 4em 2em 2em 2em;
    background-color: #FFF;
  } 
  


  /* Boostrap Custom */
  .container-fluid {
      padding-left: 0;
      padding-right: 0px;
  }

  .row.no-gutters {
    margin-right: 0;
    margin-left: 0; 
  }

  .row.no-gutters > [class^="col-"],
  .row.no-gutters > [class*=" col-"] {
      padding-right: 0;
      padding-left: 0;
    }

  a {
    color: #DF3062 !important;
  } 

  nav > div > ul > li > a { 
    font-weight: 500 !important;
    text-transform: capitalize !important;
    color:rgba(0,0,0,.5) !important;
    font-size: 1.5em !important;
    padding: 0.5em 1em 0em 1em !important; 
  }

  strong {
    color: #DF3062 !important;
  }

  i {
    color: #C39EA0 !important;
  }

  .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    font-weight: 600 !important;
  }




  @media only screen and (min-width: 575px) {
   .cardSection {    
    height: 100vh;
    width: 48%; 
    position: fixed; 
   }

   .cardFooter {   
    width: 48%; 
    position: fixed; 
   }
  }

  @media only screen and (max-width: 574px) { 
   #home {
    display: none;
   }

   #homeFooter {
    display: none;
   }
  } 